<form class="cs-content-metadata">
  <ul *ngIf="pageConfig.fieldsToDisplay && contentItem" class="fields">
    <li *ngFor="let fieldToDisplay of pageConfig.fieldsToDisplay">
      <md-form-field>
        <input mdInput name="{{fieldToDisplay}}" placeholder="{{fieldToDisplay}}" value="{{ contentItem.metadata[fieldToDisplay] }}">
      </md-form-field>

      <!--<label for="{{fieldToDisplay}}">{{fieldToDisplay}}</label> <br/>-->
      <!--<input name="{{fieldToDisplay}}" value="{{ contentItem.metadata[fieldToDisplay] }}"/>-->
    </li>
  </ul>
</form>
