<mat-form-field [formGroup]="formGroup">
  <input matInput
         formControlName="internalDate"
         [matDatepicker]="picker"
         [min]="minDate"
         [max]="maxDate"
         [placeholder]="placeholder"
         [required]="required"
         [attr.aria-label]="placeholder"
         [attr.aria-disabled]="disabled"
         [attr.aria-required]="required"
         appElasticSearchDateValidator
  >
  <mat-datepicker-toggle *ngIf="!disabled" matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-icon *ngIf="disabled" matSuffix class="disabled-icon" matTooltip="Read-only">lock</mat-icon>
  <mat-datepicker #picker></mat-datepicker>
  <mat-error>
    <span
      *ngIf="
      formGroup.get('internalDate').hasError('required') && !formGroup.get('internalDate').hasError('matDatepickerParse')">
      <span appCustomText="timestamp-picker.error.required" defaultValue="{{errorMessage}}"></span>
    </span>
    <span *ngIf="formGroup.get('internalDate').hasError('matDatepickerParse')">
      <span appCustomText="timestamp-picker.error.invalidDate" defaultValue="Please enter a valid date."></span>
    </span>
    <span *ngIf="formGroup.get('internalDate').hasError('years')">
      <span appCustomText="timestamp-picker.error.outsideElasticsearchDateRange"
            defaultValue="{{formGroup.get('internalDate').getError('years').message}}"></span>
    </span>
  </mat-error>

</mat-form-field>
