<div class="cs-facet-box" aria-label="Search facets">
  <div *ngFor="let facetConfig of getFacetsConfig()">
    <fieldset *ngIf="searchResults?.facets.get(facetConfig.key)" >
      <legend>{{facetConfig.label}}</legend>
        <mat-list dense>
          <mat-list-item
            *ngFor="let facetResult of searchResults?.facets.get(facetConfig.key).buckets.slice(0, facetConfig.cursize)">
            <span *ngIf="hasSelectedFacet(facetConfig.key); else showLink">
              {{facetResult.key}} ({{facetResult.count}})
            </span>
            <ng-template #showLink>
              <a [routerLink]="" (click)="addFacetFilter(facetConfig.key,facetResult.key, facetConfig.label)">
                {{facetResult.key}} ({{facetResult.count}})</a>
            </ng-template>
          </mat-list-item>
          <mat-list-item *ngIf="facetConfig.size < searchResults?.facets.get(facetConfig.key).buckets.length">
            <button mat-button color="primary" *ngIf="facetConfig.cursize <= facetConfig.size" (click)="facetConfig.cursize=searchResults?.facets.get(facetConfig.key).buckets.length">
               <mat-icon>arrow_drop_down</mat-icon>more ...</button>
            <button mat-button color="primary" *ngIf="facetConfig.cursize > facetConfig.size" (click)="facetConfig.cursize=facetConfig.size">
              <mat-icon>arrow_drop_up</mat-icon>less</button>
          </mat-list-item>
        </mat-list>
    </fieldset>
  </div>
</div>
