<mat-form-field [formGroup]="formGroup" class="cs-search-daterange-picker" >
  <input matInput
         ngxDaterangepickerMd
         formControlName="internalDateRange"
         [ranges]="ranges"
         [showRangeLabelOnInput]="showRangeLabelOnInput"
         [alwaysShowCalendars]="alwaysShowCalendars"
         [placeholder]="placeholder"
         [showDropdowns]="showDropdowns"
         [attr.aria-label]="placeholder"
         [autoApply]="true"
         (datesUpdated)="datesUpdated($event)"
         (rangeClicked)="datesUpdated($event)"
         />
</mat-form-field>
