<div *ngIf="field" [ngSwitch]="getFieldDisplayType()" [ngClass]="['field-cell', 'field-type-' + getFieldDisplayType()]">
  <span *ngSwitchCase="'date'">
  {{value | date: 'M/d/yyyy'}}
  </span>
  <span *ngSwitchCase="'dateTime'">
    {{value | date: 'M/d/yyyy, h:mm a' }}
  </span>
  <span *ngSwitchCase="'currency'">
    {{value | safeCurrency }}
  </span>
  <span *ngSwitchCase="'student'">
    <app-student-display value="{{value}}"></app-student-display>
  </span>
  <span *ngSwitchCase="'person'">
    <app-person-display value="{{value}}"></app-person-display>
  </span>
  <span *ngSwitchCase="'dataApiValue'">
    <app-data-api-display
      value="{{value}}"
      type="{{field.dynamicSelectConfig.type}}"
      labelPath="{{field.dynamicSelectConfig.labelPath}}"
    ></app-data-api-display>
  </span>
  <span *ngSwitchDefault>
   {{value}}
  </span>
</div>
