<p>
  content-metadata works!
</p>
<div [formGroup]="editContentItemForm">


  <label class="center-block">Label:
    <input class="form-control" name="label" formControlName="label">
  </label>

  <div formGroupName="metadata" class="well well-lg">
    <h4>Metadata </h4>
    <div class="form-group">
      <div *ngIf="pageConfig.fieldsToDisplay">
        <div *ngFor="let fieldToDisplay of pageConfig.fieldsToDisplay">
          <label class="center-block">{{fieldToDisplay}}:
            <input class="form-control" [name]="fieldToDisplay"
                   [formControlName]="fieldToDisplay">
          </label>
        </div>
      </div>
    </div>
  </div>






</div>
