<div [formGroup]="formGroup" class="cs-content-metadata">
  <ul *ngIf="pageConfig?.fieldsToDisplay && contentItem" class="fields">
    <li>
      <md-form-field>
        <input mdInput formControlName="label" name="label" placeholder="label">
      </md-form-field>
    </li>
    <div formGroupName="metadata">
      <li *ngFor="let fieldToDisplay of pageConfig.fieldsToDisplay">
        <md-form-field>
          <input mdInput [formControlName]="fieldToDisplay" [name]="fieldToDisplay"
                 [placeholder]="fieldToDisplay">
        </md-form-field>
      </li>
    </div>
  </ul>
</div>
