<div [formGroup]="formGroup" class="cs-content-metadata">
  <ul *ngIf="pageConfig?.fieldsToDisplay && contentItem" class="fields">
    <li>
      <mat-form-field>
        <input matInput formControlName="label" name="label" placeholder="label">
      </mat-form-field>
    </li>
    <div formGroupName="metadata">
      <li *ngFor="let fieldToDisplay of pageConfig.fieldsToDisplay">
        <mat-form-field>
          <input matInput [formControlName]="fieldToDisplay.name" [name]="fieldToDisplay.name"
                 [placeholder]="fieldToDisplay.label">
        </mat-form-field>
      </li>
    </div>
  </ul>
</div>
