<header class="uwit-cs-appbar uw-thinstrip">
  <mat-toolbar>
    <span class="mat-button-wrapper">
      <a class="uw-patch" href="http://uw.edu" target="_blank" title="University of Washington Home">University of Washington</a>
    </span>
    <h1>
      <span *ngIf="title"><a routerLink="/{{tenant}}" class="cs-title">{{title}}</a></span>
      <span *ngIf="!title"><a routerLink="/" class="cs-title">&nbsp;</a></span>
    </h1>
    <span class="cs-spacer"></span>
    <button mat-icon-button [matMenuTriggerFor]="accountMenu" id="tenant-menu">
      <mat-icon class="cs-icon">apps</mat-icon>
    </button>
    <mat-menu #accountMenu="matMenu" xPosition="before" yPosition="below">
      <button mat-menu-item
              *ngFor="let availableTenant of availableTenants$ | async"
              panelClass="tenant-menu-button"
              routerLink="/{{availableTenant['tenantName']}}/"
              routerLinkActive="active"
              class="tenant-menu-button"
      >
        <span [id]="availableTenant['tenantName']">{{availableTenant['tenantName']}}</span>
      </button>
    </mat-menu>
    <button mat-button [matMenuTriggerFor]="userMenu">
      <mat-icon>account_box</mat-icon>&nbsp;<span
      *ngIf="user$ | async as user">{{user.userName}}</span>
    </button>
    <mat-menu #userMenu="matMenu" xPosition="before" yPosition="below">
      <button mat-menu-item
              routerLink="/logout"
              routerLinkActive="active">
        <span>Logout</span>
      </button>
    </mat-menu>
  </mat-toolbar>
</header>



