<header class="uwit-cs-appbar uw-thinstrip">
  <md-toolbar>
    <span class="mat-button-wrapper">
      <a class="uw-patch" href="http://uw.edu" title="University of Washington Home">University of Washington</a>
    </span>
    <span *ngIf="title"><a routerLink="/" class="cs-title">{{title}}</a></span>
    <span *ngIf="!title"><a routerLink="/" class="cs-title">Content Services</a></span>
    <span class="cs-spacer"></span>
    <button md-icon-button [mdMenuTriggerFor]="accountMenu"><md-icon class="cs-icon">apps</md-icon></button>
    <md-menu #accountMenu="mdMenu" xPosition="before" yPosition="below">
      <button md-menu-item
              *ngFor="let availableTenant of availableTenants$ | async"
              routerLink="/{{availableTenant['tenantName']}}/"
              routerLinkActive="active">
        <span>{{availableTenant['tenantName']}}</span>
      </button>
    </md-menu>
    <button md-button [mdMenuTriggerFor]="userMenu"><md-icon>account_box</md-icon>&nbsp;<span *ngIf="promiseUser | async as user">{{user.username}}</span></button>
    <md-menu #userMenu="mdMenu" xPosition="before" yPosition="below">
      <button md-menu-item
              routerLink="/logout"
              routerLinkActive="active">
        <span>Logout</span>
      </button>
    </md-menu>
  </md-toolbar>
</header>



