.cs-content-view {
  height: calc(100vh - 201px);
}

.content-object-display {
  height: calc(100vh - 265px);
  overflow-x: auto;
  overflow-y: auto;
}

.cs-content-view .cs-preview-max-height {
  display:block;
}

.cs-content-view .ng2-pdf-viewer-container {
  margin: 0 4rem;
}

