<div class="cs-content-view">
  <div [ngSwitch]="dataType">

    <div *ngSwitchCase="'pdfData'">
      <pdf-viewer [src]="pdfDataSource"
                  [page]="pageNumber"
                  [render-text]="true"
                  ></pdf-viewer>
    </div>

    <div *ngSwitchCase="'pdfUrl'">
      <pdf-viewer [src]="url"
                  [page]="pageNumber"
                  [render-text]="true"
                  ></pdf-viewer>
    </div>

    <div *ngSwitchCase="'image'">
      <img [src]="url | safeUrl"/>
    </div>

    <div *ngSwitchCase="'unknown'">
      Unable to display Content Preview.
    </div>
  </div>
</div>
