<div class="cs-content-view"
     fxLayout="row"
     fxLayoutAlign="center center"
    >
  <div [ngSwitch]="dataType">
    <div *ngSwitchCase="'blank'">
    </div>
    <div *ngSwitchCase="'pdfData'">
      <pdf-viewer [src]="pdfDataSource"
                  [page]="pageNumber"
                  [render-text]="true"
      ></pdf-viewer>
    </div>

    <div *ngSwitchCase="'pdfUrl'">
      <pdf-viewer [src]="url"
                  [page]="pageNumber"
                  [render-text]="true"
      ></pdf-viewer>
    </div>

    <div *ngSwitchCase="'image'">
      <img [src]="url | safeUrl"/>
    </div>


    <div *ngSwitchCase="'unknown-dataURI'" layout="row">
      <p >Unable to display Content Preview.</p>
    </div>
    <div *ngSwitchCase="'unknown'" layout="row">
      <p >Unable to display Content Preview.</p>
      <div align="center">
        <button autofocus mat-raised-button (click)="download()" >
          <mat-icon class="cs-icon">file_download</mat-icon>
          <span>Download</span>
        </button>
      </div>
    </div>
  </div>
</div>
