.list-item {
  margin: 10px 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.list-item .more-items {
  padding-left: 5px;
  font-style: italic;
  opacity: 0.8;
}

.list-item .item-invalid {
  background-color: rgba(255, 0, 0, 0.3);
}
