<div class="cs-search-box" role="search">
    <div class="search-form-group">
        <label for="search-field" *ngIf="pageConfig?.searchConfig?.label">{{pageConfig.searchConfig.label}}</label>
        <mat-form-field >
            <input id="search-field" matInput [(ngModel)]="searchModel.stringQuery" (search)="updateSearch()" (ngModelChange)="updateSearch()" placeholder="{{pageConfig?.searchConfig?.placeholder}}" type="search">
            <!--<mat-icon MatSuffix>search</mat-icon>-->

            <mat-hint id="search-hint" *ngIf="pageConfig?.searchConfig?.directions" align="start">{{pageConfig?.searchConfig?.directions}}</mat-hint>
        </mat-form-field>
    </div>
    <div class="selected-facets-form-group selected-facets" *ngIf="pageConfig?.facetsConfig?.active">
        <mat-chip-list aria-label="Search filters">
            <mat-chip *ngFor="let filter of searchModel.filters">
                {{pageConfig.facetsConfig.facets[filter.key].label}}: {{filter.value}}
                <button (click)="removeFilter(filter)" mat-icon-button aria-label="Remove filter">
                    <mat-icon>clear</mat-icon>
                </button>
            </mat-chip>
        </mat-chip-list>
    </div>
</div>
