<div class="cs-search-box" role="search">
  <div class="search-form-group">
    <form fxLayout="row"  fxLayoutGap="20px" fxLayoutAlign="start center">
      <label for="search-field"
             *ngIf="pageConfig?.searchConfig?.label">{{pageConfig.searchConfig.label}}</label>
      <mat-form-field >
        <input id="search-field" matInput
               name="search"
               (search)="searchBoxChanged()"
               (ngModelChange)="searchBoxChanged()"
               [(ngModel)]="searchModel.stringQuery"
               placeholder="{{pageConfig?.searchConfig?.placeholder}}"
               type="search"
               [matAutocomplete]="autocomplete"
               [readonly]="readonly"
        >

        <mat-hint id="search-hint" *ngIf="pageConfig?.searchConfig?.directions"
                  align="start">{{pageConfig?.searchConfig?.directions}}</mat-hint>
        <mat-autocomplete #autocomplete="matAutocomplete" (optionSelected)="onSelectFilter($event)">
          <mat-option *ngFor="let option of filteredOptions " [value]="option.getFilterableValue()">
            <span>{{ option.getFilterableDisplay() }}</span>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <div >
        <button mat-raised-button
                type="submit"
                aria-label="Search"
                name="searchButton"
                (click)="updateSearch()"
                appCustomText="searchBox.search" defaultValue="Search"
        ></button>
      </div>
    </form>
  </div>
  <div class="selected-facets-form-group selected-facets" *ngIf="pageConfig?.facetsConfig?.active">
    <mat-chip-list aria-label="Search filters">
      <mat-chip *ngFor="let filter of searchModel.filters">
        {{filter.label}}: {{filter.getDisplayValue()}}
        <button *ngIf="!readonly" (click)="removeFilter(filter)" mat-icon-button
                aria-label="Remove filter">
          <mat-icon>clear</mat-icon>
        </button>
      </mat-chip>
    </mat-chip-list>
  </div>
</div>
