<div role="main" [ngClass]="pageConfig?.theme">
  <div fxLayout="row" class="cs-generic-header">
    <div fxFlex="20" *ngIf="!isBulkEditMode">
      <h2>{{pageConfig.pageName}}</h2>
    </div>
    <div fxFlex="20" *ngIf="isBulkEditMode">
      <h2>Bulk Update Mode</h2>
      <h3>Select the documents to update</h3>
    </div>
    <div fxFlex="70" [hidden]="!isSearchBoxVisible">
      <app-search-box
        [searchModel$]="searchModel$"
        [pageConfig]="pageConfig"
        (searchEvent)="onSearch($event)"
        [searchAutocomplete]="searchAutocomplete">
      </app-search-box>
    </div>

    <div fxFlex="10" class="button-container" *ngIf="!pageConfig.disableUploadNewDocument && !isBulkEditMode">
      <button class="cs-upload-new-document-button" mat-button (click)="navigateToCreate()" aria-label="Upload new document">
          <span appCustomText="addContentItemButton" defaultValue="Upload"></span>&nbsp;<mat-icon>backup</mat-icon>
      </button>
    </div>
    <div fxFlex="10" class="button-container" *ngIf="pageConfig.enableDisplaySearch && !isBulkEditMode">
      <button class="cs-display-search-button" mat-button (click)="navigateToDisplaySearchPage()" aria-label="Display all documents">
          <span appCustomText="displaySearchPageButton" defaultValue="Display All"></span>&nbsp;<mat-icon>file_copy</mat-icon>
      </button>
    </div>
    <div [fxFlex]="isBulkEditMode ? '90' : '10'" class="button-container" *ngIf="pageConfig?.enableBulkUpdate">
      <button class="cs-toggle-bulk-update-button" mat-button (click)="toggleBulkEditMode()">
          {{isBulkEditMode ? 'Cancel Bulk Update' : 'Bulk Update'}}&nbsp;
          <span class="material-icons" *ngIf="!isBulkEditMode">edit</span>
          <span class="material-icons" *ngIf="isBulkEditMode">cancel</span>
      </button>
    </div>

  </div>
  <div fxLayout="row" class="cs-generic-header"  *ngIf="pageConfig.searchDaterangeConfig && pageConfig.searchDaterangeConfig.active">
    <div fxFlex="20"></div>
    <div fxFlex [hidden]="!isSearchBoxVisible">
      <app-search-daterange-picker
        [searchModel$]="searchModel$"
        [searchDaterangeConfig]="pageConfig.searchDaterangeConfig"
        (dateRangeFilterAdded)="onSearch($event)"></app-search-daterange-picker>
    </div>
  </div>
  <div fxLayout="row" class="cs-generic-body">
    <div fxFlex="20" [hidden]="!isLeftPanelVisible">
      <app-facets-box
        *ngIf="pageConfig.facetsConfig && pageConfig.facetsConfig.active"
        [searchModel$]="searchModel$"
        [searchResults$]="searchResults$"
        [pageConfig]="pageConfig"
        (facetFilterAdded)="onSearch($event)"
      >
      </app-facets-box>
    </div>
    <div fxFlex="2" [hidden]="isLeftPanelVisible">
      <!-- When the left panel is collapsed, leave a small space to put the button to expand.-->
    </div>
    <div fxFlex>
      <app-search-results
        [searchModel$]="searchModel$"
        [searchResults$]="searchResults$"
        [pageConfig]="pageConfig"
        [freezeResults]="isBulkEditMode"
        [selectionEnabled]="isBulkEditMode"
        (selectRows)="onSelectRows($event)"
        (search)="onSearch($event)">
          <div search-results-action [hidden]="!isToggleLeftPanelButtonVisible">
            <button mat-icon-button
                    class="toggle-panel-btn"
                    aria-label="Toggle Filter Panel"
                    [matTooltip]="isLeftPanelVisible ? 'Hide Filters' : 'Show Filters'"
                    matTooltipPosition="above"
                    (click)="toggleLeftPanel()">
              <mat-icon *ngIf="isLeftPanelVisible">arrow_left</mat-icon>
              <mat-icon *ngIf="!isLeftPanelVisible">arrow_right</mat-icon>
            </button>
          </div>
      </app-search-results>
    </div>
    <div *ngIf="isBulkEditMode" class="footer">
      <div class="space">
        &nbsp;
      </div>
      <div class="sticky">
        <button class="cs-bulk-update-next-button" mat-button (click)="navigateToBulkEdit()" [disabled]="selectedRows.length === 0">
          Edit {{selectedRows.length}} Documents&nbsp;
          <span class="material-icons">edit</span>
        </button>
        <button mat-button (click)="toggleBulkEditMode()">
          Cancel Bulk Update&nbsp;
          <span class="material-icons">cancel</span>
        </button>
      </div>
    </div>
  </div>
</div>
