.toggle-panel-btn .mat-icon {
  font-size: 40px;
}

.footer .space {
  min-height: 40px;
}

.footer .sticky{
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  height: 50px;
  padding-top: 10px;
}
