<p>
  generic-page display page : <strong>{{pageConfig.pageName}} - {{page}}</strong>!
  {{pageConfig |json}}

  <app-search-box
    [searchModel$]="searchModel$"
    [pageConfig]="pageConfig"
    (onSearch)="search($event)"
  >
  </app-search-box>
  <app-search-results
    [searchModel$]="searchModel$"
    [searchResults]="searchResults"
    [pageConfig]="pageConfig"
    (onSearch)="search($event)"
  ></app-search-results>
  <app-search-box *ngIf="pageConfig.secondSearchBox"
    [searchModel$]="searchModel$"
    [pageConfig]="pageConfig"
    (onSearch)="search($event)"
  >
  </app-search-box>
</p>

