<div [ngClass]="pageConfig?.theme" *ngIf="contentItem">
  <div class="cs-edit-page">
    <md-toolbar class="secondary-toolbar">
      <a routerLink="/{{config.tenant}}/{{page}}">Return to Results</a>
      <span class="cs-fill-remaining-space"></span>
      <span class="button-row">
        <app-content-pager
          [nextBaseUrl]=" config.tenant + '/' + page + '/edit/'"
          [contentItem$]="contentItem$"></app-content-pager>
      </span>
    </md-toolbar>
    <form [formGroup]="editContentItemForm">
      <div fxLayout="row">
        <div fxFlex="30">
          <app-file-upload
            [fieldName]="'updateFile'"
            (fileSelected)="fileSelected($event)"
            [(formGroup)]="editContentItemForm"
          >
          </app-file-upload>

        </div>
      </div>

      <div *ngIf="contentItem" class="content-area">
        <div fxLayout="row">
          <div fxFlex="30">
            <app-content-metadata
              [formGroup]="editContentItemForm"
              [contentItem$]="contentItem$"
              [pageConfig]="pageConfig"
              (save)="saveItem($event)"
            >
            </app-content-metadata>
          </div>
          <div fxFlex="70">
            <app-content-view
              *ngIf="pageConfig.viewPanel"
              [item$]="contentItem$"
              [file$]="file$"
            >
            </app-content-view>
          </div>
        </div>
      </div>
      <div *ngIf="pageConfig?.buttons" class="button-row" style="margin-bottom: 1em">
        <button *ngFor="let button of pageConfig?.buttons" md-raised-button
                (click)="buttonPress(button)" [color]="button.color"
                [disabled]="editContentItemForm.pristine" [id]="button.command"
                [type]="button.type">{{button.label}}
        </button>
      </div>
    </form>

  </div>
</div>

