<p>
  edit-page works!
</p>

<div class="form-group col-sm-3">
  <label for="">Upload file</label>
  <input type="file" (change)="fileChange($event)">
</div>


<div>
  <div *ngIf="contentItem">
    <label>ID:</label> {{contentItem.id }} <br/>
    <label>LABEL:</label> {{contentItem.label}}
  </div>


  <div class="container">
    <div fxLayout="row">
      <div fxFlex="30">
        <app-content-metadata
          [contentItem]="contentItem"
          [pageConfig]="pageConfig"
          (save)="onSave($event)"
        >
        </app-content-metadata>
      </div>
      <div fxFlex="70">
        <app-content-view
          *ngIf="pageConfig.viewPanel"
          [contentItemUrl]="contentItemUrl"
          [pdfPreviewConfig]="pdfPreviewConfig"
          [displayType]="displayType"
          [imagePreviewUrl]="imagePreviewUrl"
        >
        </app-content-view>
      </div>
    </div>
  </div>
</div>
