<div [ngClass]="pageConfig?.theme" >
  <div class="cs-content-page">
    <mat-toolbar class="secondary-toolbar">
      <a routerLink="/{{config.tenant}}/{{page}}">Return to Results</a>
      <span class="cs-fill-remaining-space"></span>
    </mat-toolbar>
    <form [formGroup]="createContentItemForm">

      <div class="content-area">
        <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px">
          <div fxFlex="30">
            <app-file-upload
              [fieldName]="'updateFile'"
              (fileSelected)="fileSelected($event)"
              [(formGroup)]="createContentItemForm"
              [autoFocus]="true"
            >
            </app-file-upload>

            <app-content-metadata
              [formGroup]="createContentItemForm"
              [contentItem$]=""
              [pageConfig]="pageConfig"

            ></app-content-metadata>
            <div *ngIf="pageConfig?.buttons" class="button-row" style="margin-bottom: 1em">
              <button *ngFor="let button of pageConfig?.buttons" mat-raised-button
                      (click)="buttonPress(button)" [color]="button.color"
                      [disabled]="!button.alwaysActive && createContentItemForm.pristine" [id]="button.command"
                      [type]="button.type">{{button.label}}
              </button>
              <mat-checkbox [(formGroup)]="createContentItemForm"
                            formControlName="uploadAnother"
                            name="uploadAnother" >Upload another</mat-checkbox>
            </div>
          </div>
          <div fxFlex="auto">
            <app-content-view
              *ngIf="pageConfig.viewPanel"
              [item$]=""
              [file$]="file$"
            >
            </app-content-view>
          </div>
        </div>
      </div>

    </form>

  </div>
</div>
