<div [ngClass]="pageConfig?.theme" >
  <div class="cs-content-page">

    <mat-toolbar class="secondary-toolbar"  >
      <span class="button-row" role="navigation">
        <button mat-icon-button routerLink="/{{config.tenant}}" matTooltip="Return to Results" aria-label="return to results">
          <mat-icon>keyboard_arrow_left</mat-icon>
        </button>
      </span>
      <span class="cs-fill-remaining-space"></span>
      <span class="button-row">
          <app-file-upload
                  [fieldName]="'addFile'"
                  label="Add Files"
                  (fileSelected)="addFile($event)"
                  [formGroup]="form"
                  [autoFocus]="true"
                  multiple="true">
            </app-file-upload>
      </span>
    </mat-toolbar>
    <h2>{{pageConfig.pageName}}</h2>
    <form [formGroup]="form"  role="main">
      <div class="content-area">
        <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px">
          <div fxFlex="30">
            <app-content-metadata
              [formGroup]="form"
              [contentItem]="contentItem"
              [pageConfig]="pageConfig">
            </app-content-metadata>
            <app-content-object-list
              [formGroup]="form"
              (remove)="removeFile($event)"
              (select)="selectObject($event)"
              (saving)="updateSavingStatus($event)">
            </app-content-object-list>
            <div *ngIf="pageConfig?.buttons" class="button-row" style="margin: 2rem 0 1rem;text-align: right">
              <button *ngFor="let button of pageConfig?.buttons" mat-raised-button
                      (click)="buttonPress(button)" [color]="button.color"
                      [disabled]="!button.alwaysActive &&  (form.pristine || submitPending || (button.command=='saveItem' && form.invalid))" [id]="button.command"
                      [type]="button.type">{{button.label}}
              </button>
              <span *ngIf="pageConfig?.uploadAnother && form.controls['uploadAnother']">
                <mat-checkbox [formGroup]="form"
                              formControlName="uploadAnother"
                              name="uploadAnother" >Upload another</mat-checkbox>
              </span>
            </div>
          </div>
          <div fxFlex="auto" class="cs-content-view-wrapper">
            <app-content-view [contentObject]="contentObject" [allowPageByPageMode]="pageConfig?.allowPageByPageMode"></app-content-view>
            <div *ngIf="!previewing">
              <app-file-upload
                      [fieldName]="'dragFiles'"
                      label="Add Files"
                      (fileSelected)="addFile($event)"
                      [formGroup]="form"
                      [autoFocus]="true"
                      [dropzone]="true"
                      multiple="true">
              </app-file-upload>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
