<div [ngClass]="pageConfig?.theme" >
  <div class="cs-content-page">
    <mat-toolbar class="secondary-toolbar">
      <span class="button-row">
        <button mat-icon-button routerLink="/{{config.tenant}}/{{page}}" matTooltip="Return to Results">
          <mat-icon>keyboard_arrow_left</mat-icon>
        </button>
      </span>
      <span class="cs-fill-remaining-space"></span>
      <span class="button-row">
          <app-file-upload
                  [fieldName]="'addFile'"
                  label="Add Files"
                  (fileSelected)="addFile($event)"
                  [(formGroup)]="form"
                  [autoFocus]="true"
                  multiple="true">
            </app-file-upload>
      </span>
    </mat-toolbar>
    <form [formGroup]="form">
      <div class="content-area">
        <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px">
          <div fxFlex="30">
            <app-content-metadata
              [formGroup]="form"
              [contentItem$]="contentItem$"
              [pageConfig]="pageConfig">
            </app-content-metadata>
            <mat-nav-list>
              <mat-list-item *ngFor="let contentObject of transaction.contentObjects; let i = index" [ngClass]="transaction.selectedIndex > -1 && i == transaction.selectedIndex ? 'cs-selected' : ''">
                <p matLine (click)="transaction.selectObject(i)">
                  <button mat-icon-button>
                    <mat-icon>{{ contentObject.persisted ? 'cloud_circle' : 'description' }}</mat-icon>
                  </button>
                  <span>{{ contentObject.getOriginalFileName() }}</span>
                </p>
                <span *ngIf="contentObject.persisted">
                  <app-file-upload
                          [fieldName]="'replaceFile'"
                          label="Replace File"
                          (fileSelected)="replaceFile(contentObject, $event)"
                          [(formGroup)]="form">
                  </app-file-upload>
                </span>
                <span *ngIf="!contentObject.persisted">
                  <button mat-icon-button (click)="transaction.removeContentObject(i)" matTooltip="Undo">
                    <mat-icon>clear</mat-icon>
                  </button>
                </span>
              </mat-list-item>
            </mat-nav-list>
            <div *ngIf="pageConfig?.buttons" class="button-row" style="margin: 2rem 0 1rem;text-align: right">
              <button *ngFor="let button of pageConfig?.buttons" mat-raised-button
                      (click)="buttonPress(button)" [color]="button.color"
                      [disabled]="!button.alwaysActive && form.pristine" [id]="button.command"
                      [type]="button.type">{{button.label}}
              </button>
              <mat-checkbox [(formGroup)]="form"
                            formControlName="uploadAnother"
                            name="uploadAnother" >Upload another</mat-checkbox>
            </div>
          </div>
          <div fxFlex="auto" class="cs-content-view-wrapper">
            <ng-template appDynamicComponent></ng-template>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
