<mat-form-field [formGroup]="formGroup">
  <input type="text" *ngIf="!multiSelect"
      matInput
      formControlName="internalFilterControl"
      [matAutocomplete]="auto"
      [placeholder]="placeholder"
      [required]="required"
      [attr.aria-label]="placeholder"
      [attr.aria-disabled]="disabled"
      [attr.aria-required]="required" />

  <mat-chip-list #chipList *ngIf="multiSelect"
      aria-label="Options selection"
      [required]="required"
      [attr.aria-disabled]="disabled"
      [attr.aria-required]="required">
    <mat-chip
      *ngFor="let option of selectedOptions"
      [selectable]="!disabled"
      [removable]="!disabled"
      (removed)="removeOptionFromMultiSelect(option)">
      {{option.displayValue}}
      <mat-icon matChipRemove *ngIf="!disabled">cancel</mat-icon>
    </mat-chip>
    <input
      #filterInputElement
      formControlName="internalFilterControl"
      [placeholder]="placeholder"
      [attr.aria-label]="placeholder"
      [attr.aria-disabled]="disabled"
      [matAutocomplete]="auto"
      [matChipInputFor]="chipList" />
  </mat-chip-list>

  <mat-autocomplete #auto="matAutocomplete"
                    [displayWith]="getOptionDisplayValue"
                    (closed)="optionListClosed()"
                    (optionSelected)="optionSelected($event.option.value)">
    <mat-option *ngFor="let option of filteredOptions$ | async" [value]="option">
      {{ option.displayValue }}
    </mat-option>
  </mat-autocomplete>
  <mat-icon *ngIf="disabled" matSuffix class="disabled-icon" matTooltip="Read-only">lock</mat-icon>
  <mat-error>
    {{errorMessage}}
  </mat-error>
</mat-form-field>
