<div [ngClass]="fullScreen ? 'full-screen' : ''" class="cs-content-toolbar">
    <mat-toolbar aria-label="Navigation of document content" role="toolbar">
        <span *ngIf="contentType === 'application/pdf'" class="button-row">
            <button mat-icon-button (click)="toggleShowAll()" [matTooltip]="showAllValue ? 'Page by Page Mode' : 'Continuous Scrolling Mode'" role="button">
                <mat-icon>{{showAllValue ? 'note' : 'vertical_align_bottom'}}</mat-icon>
            </button>
            <span *ngIf="!showAllValue">
                <button mat-icon-button (click)="pageDown()" role="button">
                    <mat-icon>arrow_drop_down</mat-icon>
                </button>
                <button mat-icon-button (click)="pageUp()" role="button">
                    <mat-icon>arrow_drop_up</mat-icon>
                </button>
            </span>
        </span>
        <span class="cs-fill-remaining-space"></span>
        <span *ngIf="contentType === 'application/pdf'">
            <mat-form-field class="medium-field">
                <mat-select [ngModel]="zoomFactor" (ngModelChange)="changeZoomFactor($event)">
                    <mat-option value="automatic-zoom">Automatic Zoom</mat-option>
                    <mat-option value="actual-size">Actual Size</mat-option>
                    <mat-option value="page-width">Page Width</mat-option>
                    <mat-option value="0.50">50%</mat-option>
                    <mat-option value="0.75">75%</mat-option>
                    <mat-option value="1.00">100%</mat-option>
                    <mat-option value="1.25">125%</mat-option>
                    <mat-option value="1.50">150%</mat-option>
                </mat-select>
            </mat-form-field>
        </span>
        <span *ngIf="contentType === 'application/pdf'" class="cs-fill-remaining-space"></span>

        <span *ngIf="pageCount && !showAllValue && contentType === 'application/pdf'" class="content-paginator">
            <span>
                <mat-form-field class="narrow-field">
                    <input matInput [(ngModel)]="pageNumberEntry" (ngModelChange)="changePageNumber($event)" type="text">
                </mat-form-field>
            </span>
            <span>of {{pageCount}}</span>
        </span>
        <span class="button-row">
            <button mat-icon-button (click)="toggleFullScreen()" role="button">
                <mat-icon>{{fullScreen ? 'fullscreen_exit' : 'fullscreen'}}</mat-icon>
            </button>
        </span>
    </mat-toolbar>
</div>