<div [ngClass]="fullScreen ? 'full-screen' : ''" class="cs-content-toolbar">
    <mat-toolbar aria-label="Navigation of document content" role="toolbar">
        <span *ngIf="contentType === 'pdf'" class="button-row">
            <span *ngIf="allowPageByPageMode">
              <button mat-icon-button (click)="toggleShowAll()" [matTooltip]="showAllValue ? 'Page by Page Mode' : 'Continuous Scrolling Mode'" role="button" >
                  <mat-icon>{{showAllValue ? 'tab' : 'system_update_alt'}}</mat-icon>
              </button>
              <span *ngIf="!showAllValue">
                  <button mat-icon-button (click)="pageDown()" role="button">
                      <mat-icon>arrow_drop_down</mat-icon>
                  </button>
                  <button mat-icon-button (click)="pageUp()" role="button">
                      <mat-icon>arrow_drop_up</mat-icon>
                  </button>
              </span>
           </span>
           <span *ngIf="downloadUrl">
            <button mat-icon-button (click)="download()" matTooltip="Download" role="button" aria-label="Download">
                <mat-icon>file_download</mat-icon>
            </button>
          </span>
        </span>

        <span class="cs-fill-remaining-space"></span>
        <span *ngIf="contentType === 'pdf'">
            <mat-form-field class="medium-field">
                <mat-select [ngModel]="zoomFactor" (ngModelChange)="changeZoomFactor($event)" class="cs-zoom-factor-select" name="zoomFactor" ngDefaultControl>
                    <mat-option value="automatic-zoom">Automatic Zoom</mat-option>
                    <mat-option value="actual-size">Actual Size</mat-option>
                    <mat-option value="page-width">Page Width</mat-option>
                    <mat-option value="0.25">25%</mat-option>
                    <mat-option value="0.50">50%</mat-option>
                    <mat-option value="0.75">75%</mat-option>
                    <mat-option value="1.00">100%</mat-option>
                    <mat-option value="1.25">125%</mat-option>
                    <mat-option value="1.50">150%</mat-option>
                    <mat-option value="1.75">175%</mat-option>
                    <mat-option value="2.00">200%</mat-option>
                </mat-select>
            </mat-form-field>
        </span>
        <span *ngIf="contentType === 'pdf'" class="cs-fill-remaining-space"></span>

        <span *ngIf="pageCount && !showAllValue && contentType === 'pdf'" class="content-paginator" aria-label="Page within Document">
            <span>
                <mat-form-field class="narrow-field">
                    <input matInput [(ngModel)]="pageNumberEntry" (ngModelChange)="changePageNumber($event)" ngDefaultControl name="pageNumber" type="text">
                </mat-form-field>
            </span>
            <span>of {{pageCount}}</span>
        </span>
        <span class="button-row">
            <button mat-icon-button (click)="toggleFullScreen()" role="button">
                <mat-icon>{{fullScreen ? 'fullscreen_exit' : 'fullscreen'}}</mat-icon>
            </button>
        </span>
    </mat-toolbar>
</div>
